body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.note-container {
  position:fixed;
  bottom:0px;
  display:flex; 
  width:400px;
  height:100px;
}

.accuracy-container{
  width:150px;
  height:150px;
}

.note {
  width:100px;
  height:100px;
  border:2.5px solid white;
  border-radius:50%;
  background-color:#000000;
  transition:0.2s;
}

.note -l{
  background-color:#800080;
  border-color:#8b008b;
}

.note -u{
  background-color:#00FF00;
  border-color:#006400;
}

.note -d{
  background-color:#00FFFF;
  border-color:#0000FF;
}

.note -r{
  background-color:#FF0000;
  border-color:#8B0000;
}