body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.note-container {
  display:flex; 
  width:fit-content;
  height:fit-content;
  position:fixed;
  bottom:0px;
}

.accuracy-container{
  width:fit-content;
  height:fit-content;
}

.note {
  width:100px;
  height:100px;
  border:2.5px solid white;
  border-radius:50%;
  background-color:#000000;
  transition:0.2s;
}

.note -Track1{
  background-color:#800080;
  border-color:#8b008b;
}

.note -Track2{
  background-color:#00FF00;
  border-color:#006400;
}

.note -Track3{
  background-color:#00FFFF;
  border-color:#0000FF;
}

.note -Track4{
  background-color:#FF0000;
  border-color:#8B0000;
}
